//карточки стартового экрана
$red: #ec6442;
$blue: #4f6ca5;
$yellow: #fbae38;

//карточки дисциплин
$soft-blue: rgba(88, 144, 221, 0.7);
$soft-red: rgba(236, 100, 66, 0.86);
$soft-yellow: rgba(251, 174, 56, 0.8);

$light-blue: rgba(88, 144, 221, 0.13); //для карточек заданий
$light-gray: rgba(0, 0, 0, 0.08);

$bright-blue: #2196f3; //кнопки и т.д
$bright-red: #d32f2f; //красные кружочки

$black: black; //основной текст
$middle-black: rgba(0, 0, 0, 0.87); //побочный текст
$gray: rgba(0, 0, 0, 0.6); //побочный текст (самый светлый)
